:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Montserrat, monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, monospace !important;
  letter-spacing: 0.15rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background, .about-background  {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background-color: var(--mainYellow);
  color: var(--mainBrown);
}

.footer {
  background-color: var(--mainBrown);
  color: var(--mainYellow);
}

.menu, .contact {
  background: var(--mainGrey);
}
